* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* @media(min-width:300px){
    .container{
        color:#ff0000;
    }
}

@media(min-width:800px){
    .container{
        color:#7bff00;
    }
} */
.intro_img {
  width: 183px;
}
.Nav_container {
  padding: 1rem 0px;
  width:100%;
  position: fixed;
  left:0;
  top:0;
  z-index:9999999999999999999999999999999;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.76)
}
.nav-link {
  color: #26252a;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  padding: 0.6em 0.5em;
}
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  transition: 0.3s;
  background: #26252a;
}
.nav-link:hover {
  color: black;
}
.nav-link:hover::after {
  width: 100%;
}
.menu {
  width: 41%;
}
.container {
  position: relative;
  padding: 0 !important;
  overflow:hidden;
}
.Logo_container{
  overflow:visible;
}
.closeIcon {
  display: none;
  position: relative;
}
.Logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.Menubar{
  position:absolute;
  left: 5%;
  top: 0px;
  display:none;
  cursor: pointer;
  background:rgb(203, 255, 219);
  padding: 0.6rem 0.35rem;
  transition:0.3s;
  border-radius: 50%;
  box-shadow:0px 0px 6px rgba(0,0,0,0.2)
}
.Menubar img{
  cursor: pointer;
  transform: scale(0.7);
  
}
.Menubar:hover{
  animation:vibrate 1s ease-in-out; 
}
.Menubar:active{
  animation:vibrate 1s ease-in-out; 

}
@keyframes vibrate{
  0%{
    transform: scale(1)
  }20%{
    transform: scale(0.5)

  }40%{
    transform: scale(1.2)

  }60%{
    transform: scale(0.8)

  }80%{
    transform: scale(1.1)

  }100%{
    transform: scale(1)
    
  }
}
@media (max-width: 800px) {
  .Logo_container {
    display: flex !important;
    /* align-items:center !important; */
    justify-content: center;
  }
  .Menubar{
    display:block;
  }
  
  .closeIcon {
    display: block;
    width: 283px;
    padding: 1em;
  }
  .closeIcon img {
    width: 25px;
    position: absolute;
    left: 80%;
    cursor: pointer;
  }
  .closeIcon img:hover {
    transform: scale(1.3);
  }
  .menu {
    position: absolute;
    width: 283px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    left: -400px;
    top: 0px;
    background: #212121;
    padding: 1em;
    z-index: 9999;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.76);
  }
  .nav-link {
    color: white;
  }
  .nav-link::after {
    background: #fff;
  }
  .nav-link:hover {
    color: rgb(248, 248, 248);
  }
  .nav-link:hover::after {
    width: 100%;
  }
}

.bottom_title {
  background: #1d1d1d;
  width: 100%;
  padding: 0.8em 0em;
  margin-top: 81px;
  position: fixed;
  top:0px;
  left:0px;
  z-index:8888;
  
  
}
.newsAnimation {
  animation:comeGo 40s linear infinite;

}
@keyframes comeGo{
  0%{
    top:0px;
  }24%{
    top:0px;
  }25%{
    top:-100px;
  }98%{
    top:-100px;
  }100%{
    top:0px;

  }
}

.newsAnimation2{
  animation:comeGo2 40s linear infinite;
  top:-100px;
}

@keyframes comeGo2{
  0%{
    top:-100px;

  }24%{
    top:-100px;

  }25%{
    top:0px;
  }98%{
    top:0px;
  }100%{
    top:-100px;


  }
}

/* Ending Menu ====///////////////////////////////*/
/* Ending Menu ====///////////////////////////////*/
/* Ending Menu ====///////////////////////////////*/
/* Ending Menu ====///////////////////////////////*/

/* main intro */

#Home{
  margin-top:10rem !important;
}
.intro_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.icons_assamble {
  font-size: 20px;
}
.icons img {
  width: 30px;
}
.icons_assamble {
  width: 329px;
}

.Header {
  font-size: 60px;
  font-weight: 200;
  text-transform: uppercase;
}
.Header strong {
  font-weight: 600;
}

.subTitile {
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 0.85rem;
  padding-bottom: 2em;
}

.More-btn {
  width: 100px;
  margin-top: 1.8em;
}

@media (max-width: 1134px) {
  .intro_content {
    flex-direction: column-reverse;
  }
  .left_side {
    align-items: center;
    justify-content: space-around;
    text-align: center;

    margin-top: 2rem;
  }
  .Header {
    font-size: 40px;
    padding-top: 1rem;
  }
  .subTitile {
    font-size: 14px;
    padding-bottom: 2em;
  }

  /* right */
  .right_side {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top:2rem
    /* Intro image */
  }
  .right_side img {
    width: 75%;
    margin: auto;
  }
}

/* End of Intro Section ===================== */
/* End of Intro Section ===================== */
/* End of Intro Section ===================== */
/* End of Intro Section ===================== */

.col-xl-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.small_header {
  font-weight: 300;
  font-size: 23px;
  margin-bottom: 3em !important;
}

.services_each {
  min-height: 200px;
  width: 367px;
  border-radius: 24px;
  padding: 3rem 0rem;
  position: relative;
}
.services_each:hover {
  transform: translateY(-15px);
  cursor: pointer;
}
.services_each:hover .Icon_circle img {
  /* transform:scale(0.8) */
  width: 25px;
  /* box-shadow: 0px 0px 6px rgba(0,0,0,0.76); */
}
.icon_image {
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Icon_circle {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #212121;
  font-display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.Icon_circle img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35px;
  transform: translate(-50%, -50%);
}
.Service_titile {
  font-size: 1.2rem;
}
.Services_about {
  text-align: center;
  margin-top: 1.5rem;
}

@media (max-width: 1200px) {
  .services_each {
    margin-top: 3rem !important;
  }
  .row {
    padding: 0px 25px;
  }
}

/* pyments */
/* pyments */
/* pyments */
/* pyments */
/* pyments */

.Payments_Check {
  width: 400px;
  /* padding-left: 2rem;
  padding-right: 2rem; */
  padding-bottom: 1rem;
}
.All_PAYMENTS{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.office_application_payment{
  width: 800px;

}
.All_PAYMENTS .icon_image{
  width:36%;
  justify-content:space-around;
  left:30%;
}
@media(max-width:1366px){
  .All_PAYMENTS{
    flex-direction: column;
    justify-content:space-between;
    min-height: 600px;
  }
}

@media(max-width:600px){
   .Payments_Check{
       width: 300px;
      

   } 
   .All_PAYMENTS{
       width:100%;
       padding:0;
       display:flex;align-items:center;
       justify-content: center;
       flex-direction: column;
   }
}
.pyment_About {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Payment_Costs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cost_width {
  text-align: center;
  width: 100px;
  padding: 0.4em 0em;
  margin: 0.5em 0em;
  font-size: 1.5rem;
}

.before_Cost {
  position: relative;
}
.before_Cost::before {
  position: absolute;
  left: -2px;
  top: 25px;
  content: '';
  height: 3px;
  width: 100px;
  transform: rotate(348deg);
  background: #ff3000;
}

.Now_cost {
  border: 2px solid #2bb573;
}



/* offer circle */
/* offer circle */
.offer_circle{
    height:80px;
    width: 80px;border-radius: 50%;
    background:#B52B2B;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: -20px;top:-20px;
    text-transform: uppercase;
}
.percent{
    font-size: 1.3rem;
    color:#FFE600;
}
/* offer circle */
/* offer circle */




.Office_about{

  width: 727px;
  padding: 0px 24px!important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  min-height:60px ;
  
  list-style: none;
  
 
}
.li_tags{
  position: relative;
  margin-left: 25px;
  
}
.li_tags::before{
  content: "";
  position: absolute;
  left: -25px;
  top: 4px;
  height: 25px;
  width: 18px;
  background: url(../icons/checkMark.svg);
  background-repeat: no-repeat;
  z-index: 200;
  background-size: contain;
}

.office_ALL_py{
  display: flex;
  align-items:center;
  justify-content: space-around;
  padding-left: 2rem;
}
@media (max-width:1366px){
  .office_application_payment{
    width:75%
  }
}
@media (max-width: 876px){
  .office_application_payment .icon_image{
    width:85%;
    left:0;
    transform:scale(0.7);
    
  }
.Payments_Check .icon_image .Icon_circle{
 

}
.Payments_Check img{
  
}
.office_ALL_py{
  flex-direction: column;
  font-size: 1rem;
}
.office_application_payment .Office_about{
  width:100%;
}
.office_application_payment{
  padding:2rem 0rem;
}
.Office_about li{
  font-size: 0.8rem;
  
}
.Office_about{
  display:flex;
  
}
.li_tags{
  width:250px;
  margin-left: 0;
}
.li_tags::before{
  left:-10px
}
.Office_about2{
  margin-top:0;
}
}



/* internet and Access */

.internet_access{
  margin-top:3rem;
  /* width: 1100px; */
  display: flex;align-items: center;
  justify-content:center;
  width: 100%;
}

.internet_access .paper{
  width:95%;
  margin: 0;
  padding: 0
}
@media(max-width:1100px){
  .internet_access .paper{
    width:86%;
  }
}

.Data_title{
  margin-top:4rem;
}

.internet_access .li_tags{
  width:86%;
  font-size: 1rem;
  position: relative;
}
.internet_access .li_tags::before{
  position: absolute;
  left: 0px;
  top: 0;
  content: " ";
  height: 22px;
  width: 30px;
  background: url(../icons/checkMark.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.internet_access .icon_image{
  width:45%;
  transform:translateX(-50%);
  left:50%;
  justify-content: space-around;
}


@media (max-width:902px){
  .internet_access .li_tags::before{
    position: absolute;
    left: -13px;
    top: 0;
    content: " ";
    height: 22px;
    width: 30px;
    background: url(../icons/checkMark.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .internet_access .icon_image{
    width:80%;
  }

}
@media (max-width:877px){
  .internet_access .li_tags::before{
    left: 20%;
  }

}
@media (max-width:500px){
  .internet_access .icon_image{
    width: 85%;
    /* transform: scale(0.8); */
  }
  .internet_access .icon_image div{
    transform: scale(0.8);
  }
  .internet_access .Office_about{
    width:300px;
    padding:0 !important;
  }
  .internet_access .li_tags::before{
    left: -15px;
  }
}















/* contacts. */
/* contacts. */
/* contacts. */
/* contacts. */
/* contacts. */
/* contacts. */
/* contacts. */
/* contacts. */








.contact_paper{
    width:95%;
    margin:auto;
    margin-top:4rem;
    display:block;
    min-height: 633px;
}


.Contact_title {
  width: 90px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;
}
.Contact_title img {
  width: 57%;
}
.Contact_area {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.allContacts {
  min-height: 529px;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.allContacts .paper {
  height: 529px;
  width: 390px;
  border-radius: 24px;
  margin: auto;
  margin-top: 4rem;
  position: relative;
  overflow: hidden;
}
.allContacts .paper::before {
  content: '';
  position: absolute;
  z-index: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -98px;
  width: 111%;
  height: 513px;
  border-radius: 50%;
  background: #2bb573;
  transition: 0.3s;
}
.allContacts .paper:hover::before{
  top: -150px;
  opacity:50%
}
.absulute_area{
  position: absolute;
  left: 0;
  top: 0;
  height: 529px;
  width: 100%;
  z-index: 2;
}

@media (max-width:418px){
  .absulute_area{
    height: 550px;
  }
.allContacts .paper {
    height: 550px;}
  
}
.people_image{
  height:144px;
  width:144px;
  margin: auto;
  border-radius:50%;
  margin-top: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.people_image img{
  width:144px;
}
.person_title{
  font-size: 1.2rem;
  font-weight:500;

}
.person_name{
  margin-top:0.6rem;
  text-transform: uppercase;
  font-weight: 400;
}
.SocialMedia{
  max-width:198px;
  margin: auto;
  margin-top:2rem;
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.SocialMedia .icons_media{
  background:#1D1D20;
  border-radius:50%;
  height:52px;
  width:52px;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:0.5rem;
}
.SocialMedia .icons_media:hover{
  background:#111113;

}
.SocialMedia .icons_media:hover img{
  transform:scale(0.8)
}
.self_about{
  width:80%;
  margin: auto;
  text-align:center;
  margin-top: 2.5rem;
}
.phone_container{
  display:flex;
  margin: auto;
  width:166px;
  justify-content:space-between;
  align-items:center;
  font-size: 21px;
  margin-top: 50px;;
  
}

.gmailArea{
  font-size: 1.3rem;
  font-weight:400;
}
.gmailArea strong{
  font-weight:400;

}


















/* footer */
/* footer */
/* footer */
/* footer */
footer{
  
  width:100%;
  height:80px;
  background:#181818;
  display:flex;
  align-items: center;
  justify-content:center;
  font-size: 0.8rem;
  text-align:center;
}
footer div{
  text-align:center;
  padding: 1rem 2rem;box-sizing: border-box;
}